doctype html
html
  head
    title Topal
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="/stylesheets/global/award-design.css")
    link(rel="stylesheet" href="/stylesheets/global/confirmation.css")
    link(rel="stylesheet" href="/stylesheets/global/design.css")
    link(rel="stylesheet" href="/stylesheets/global/footer.css")
    link(rel="stylesheet" href="/stylesheets/global/form-display.css")
    link(rel="stylesheet" href="/stylesheets/global/hamburger-icon.css")
    link(rel="stylesheet" href="/stylesheets/global/icons.css")
    link(rel="stylesheet" href="/stylesheets/global/log-display.css")
    link(rel="stylesheet" href="/stylesheets/global/sequel-display.css")
    link(rel="stylesheet" href="/stylesheets/global/signoff-display.css")
    link(rel="stylesheet" href="/stylesheets/global/slideshow.css")
    link(rel="stylesheet" href="/stylesheets/global/status-display.css")
    link(rel="stylesheet" href="/stylesheets/global/topbar.css")

    script(src="/javascripts/global/animated-text.js")
    script(src="/javascripts/global/confirmation.js")
    script(src="/javascripts/global/cookies.js")
    script(src="/javascripts/global/form-display.js")
    script(src="/javascripts/global/icons.js")
    script(src="/javascripts/global/layout.js")
    script(src="/javascripts/global/log-display.js")
    script(src="/javascripts/global/rest.js")
    script(src="/javascripts/global/sequel-display.js")
    script(src="/javascripts/global/signoff-display.js")
    script(src="/javascripts/global/slideshow.js")
    script(src="/javascripts/global/status-display.js")
    script(src="/javascripts/global/theme.js")
    script(src="/javascripts/global/utility.js")
  body
    .top-bar
      #nav-container
        .line

        a(href="/") Home

        .line

        .dropdown
          a.dropdown-trigger Awards
          .dropdown-content
            a(href="/awards/endurance") Endurance
            a(href="/awards/kayaking") Kayaking
            a(href="/awards/midmar-mile") Midmar Mile
            a(href="/awards/mountaineering") Mountaineering
            a(href="/awards/polar-bear") Polar Bear
            a(href="/awards/rock-climbing") Rock Climbing
            a(href="/awards/running") Running
            a(href="/awards/service") Service
            a(href="/awards/solitaire") Solitare
            a(href="/awards/venture") Venture

        .line

        a(href="/search") Search

        .line

        a(href=`/profile/${userId}` style=`display: ${displays.loggedIn.true.flex}`) Profile
        .line(style=`display: ${displays.loggedIn.true.flex}`)

        a(href="/settings") Settings

        .line

        a(href="/account/login" style=`display: ${displays.loggedIn.false.flex}`) Login
        .line(style=`display: ${displays.loggedIn.false.flex}`)

        a(href="/account/signup" style=`display: ${displays.loggedIn.false.flex}`) Signup
        .line(style=`display: ${displays.loggedIn.false.flex}`)

        a(href="/admin" style=`display: ${displays.permission.any.flex}`) Admin
        .line(style=`display: ${displays.permission.any.flex}`)

    .container
      block content

    #admin-icon(style=`display: ${displays.adminPage.true.block}`)
      span This page requires special permissions to view.
      img(src="/assets/icons/admin.png")

    #up-icon
      img(src="/assets/icons/arrow.png")

    footer
      a.corner(href="https://www.treverton.co.za" target="_blank") TREVERTON
      a.corner2(href="http://topal.click:90" target="_blank") TOPAL BETA
      p &copy 2023 <a href="/">TOPAL</a>

    #confirmation-container(style="display: none")
      #confirmation-prompt
        h2 Are You Sure?
        .spacer.v10
        h3 Info
        .spacer.v20
        .button-container
          button.transparent-button Nevermind
          button.transparent-button I'm Certain
