doctype html
html
  head
    title Topal
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="/stylesheets/global/award-design.css")
    link(rel="stylesheet" href="/stylesheets/global/confirmation.css")
    link(rel="stylesheet" href="/stylesheets/global/design.css")
    link(rel="stylesheet" href="/stylesheets/global/footer.css")
    link(rel="stylesheet" href="/stylesheets/global/form-display.css")
    link(rel="stylesheet" href="/stylesheets/global/hamburger-icon.css")
    link(rel="stylesheet" href="/stylesheets/global/images.css")
    link(rel="stylesheet" href="/stylesheets/global/record-display.css")
    link(rel="stylesheet" href="/stylesheets/global/signoff-display.css")
    link(rel="stylesheet" href="/stylesheets/global/slideshow.css")
    link(rel="stylesheet" href="/stylesheets/global/status-display.css")
    link(rel="stylesheet" href="/stylesheets/global/topbar.css")

    script(src="/javascripts/global/animated-text.js")
    script(src="/javascripts/global/confirmation.js")
    script(src="/javascripts/global/cookies.js")
    script(src="/javascripts/global/form-display.js")
    script(src="/javascripts//global/layout.js")
    script(src="/javascripts/global/record-display.js")
    script(src="/javascripts/global/rest.js")
    script(src="/javascripts/global/signoff-display.js")
    script(src="/javascripts/global/slideshow.js")
    script(src="/javascripts/global/status-display.js")
    script(src="/javascripts/global/theme.js")
    script(src="/javascripts/global/utility.js")
  body
    .top-bar
      #nav-container
        .line

        a(href="/") Home

        .line

        .dropdown
          a.dropdown-trigger Awards
          .dropdown-content
            a(href="/awards/endurance") Endurance
            a(href="/awards/kayaking") Kayaking
            a(href="/awards/midmar-mile") Midmar Mile
            a(href="/awards/mountaineering") Mountaineering
            a(href="/awards/polar-bear") Polar Bear
            a(href="/awards/rock-climbing") Rock Climbing
            a(href="/awards/running") Running
            a(href="/awards/service") Service
            a(href="/awards/solitaire") Solitare
            a(href="/awards/venture") Venture

        .line

        a(href="/search-users") Search

        .line

        a(href=`/profile?user=${userId}` style=`display: ${displays.loggedIn.true.flex}`) Profile
        .line(style=`display: ${displays.loggedIn.true.flex}`)

        a(href="/settings" style=`display: ${displays.loggedIn.true.flex}`) Settings
        .line(style=`display: ${displays.loggedIn.true.flex}`)

        a(href="/login" style=`display: ${displays.loggedIn.false.flex}`) Login
        .line(style=`display: ${displays.loggedIn.false.flex}`)

        a(href="/admin" style=`display: ${displays.permission.any.flex}`) Admin
        .line(style=`display: ${displays.permission.any.flex}`)

    .container
      block content
      
    #admin-icon(style=`display: ${displays.adminPage.true.block}`)
      span This page requires special privileges to view.
      img(src="/images/admin-icon.png")

    footer
      p &copy 2023 
        a(href="/") TOPAL
    
    #confirmation(style="display: none")
      .dialog
        h2 Are You Sure?
        h3 You are about to do something with major consequences.
        .button-container
          button.transparent-button Nevermind
          button.transparent-button I'm Certain

    template#status-display-template
      .status-display
        .top
          .indication
            h3
            img
          div
            h3 Date
            p
          div
            h3 Signed By
            p
        .bottom
          .ruler
          div
          .request
            div
              .spacer.v20
              p.partial.
                Think you're ready for your award to be signed off?
                Submit a request to notify staff members.
              .spacer.v10
              button.transparent-button Request Sign-Off
            div
              .spacer.v20
              h3 Sign-off Requested
              p.partial.
                You have requested for this award to be signed off.
                Check back here later to see if your award has been signed off.
                Otherwise, a staff member might have left you a message telling you why it wasn't.
