doctype html
html
  head
    title Topal
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet" href="/stylesheets/global/award-design.css")
    link(rel="stylesheet" href="/stylesheets/global/award-status.css")
    link(rel="stylesheet" href="/stylesheets/global/design.css")
    link(rel="stylesheet" href="/stylesheets/global/footer.css")
    link(rel="stylesheet" href="/stylesheets/global/hamburger-icon.css")
    link(rel="stylesheet" href="/stylesheets/global/images.css")
    link(rel="stylesheet" href="/stylesheets/global/record-input.css")
    link(rel="stylesheet" href="/stylesheets/global/records.css")
    link(rel="stylesheet" href="/stylesheets/global/sidebar.css")
    link(rel="stylesheet" href="/stylesheets/global/slideshow.css")
    link(rel="stylesheet" href="/stylesheets/global/topbar.css")

    script(src="/javascripts/global/animated-text.js")
    script(src="/javascripts/global/award-status.js")
    script(src="/javascripts/global/cookies.js")
    script(src="/javascripts//global/layout.js")
    script(src="/javascripts/global/record-input.js")
    script(src="/javascripts/global/rest.js")
    script(src="/javascripts/global/records.js")
    script(src="/javascripts/global/slideshow.js")
    script(src="/javascripts/global/theme.js")
    script(src="/javascripts/global/utility.js")
  body
    .top-bar
      #nav-container
        .line

        a(href="/") Home

        .line

        .dropdown
          a.dropdown-trigger Awards
          .dropdown-content
            a(href="/awards/endurance") Endurance
            a(href="/awards/kayaking") Kayaking
            a(href="/awards/midmar-mile") Midmar Mile
            a(href="/awards/mountain-biking") Mountain Biking
            a(href="/mountaineering") Mountaineering
            a(href="/awards/polar-bear") Polar Bear
            a(href="/awards/rock-climbing") Rock Climbing
            a(href="/awards/running") Running
            a(href="/awards/service") Service
            a(href="/awards/solitaire") Solitare
            a(href="/awards/venture") Venture

        .line

        a(href="/search-users") Search

        .line

        a(href=`/profile?user=${user}` style=`display: ${displays.loggedIn.true.flex}`) Profile
        .line(style=`display: ${displays.loggedIn.true.flex}`)

        a(href="/settings") Settings

        .line

        a(href="/login" style=`display: ${displays.loggedIn.false.flex}`) Login
        .line(style=`display: ${displays.loggedIn.false.flex}`)

      #sidebar-button.menu-bar
        .bar1
        .bar2
        .bar3

    #sidebar
      ul
        li
          a(href="/") Home

        li
          .item
            input#awards-checkbox(type="checkbox")
            label(for="awards-checkbox") Awards

            ul
              li
                a(href="/awards/midmar-mile") Midmar Mile
              li
                a(href="/awards/polar-bear") Polar Bear
              li
                a(href="/awards/running") Running

        li
          a(href="/search-users") Find Someone

        li
          a(href="/settings") Settings

        li
          a.login-button Login

    .container
      block content
      
    #admin-icon(style=`display: ${displays.adminPage.true.block}`)
      span This page requires a permission to view.
      img(src="/images/admin-icon.png")

    footer
      p &copy 2023 
        a(href="/") TOPAL

    template#award-status-template
      .award-status-active
        .indication
          h3
          img
        div
          h3 Date
          p
        div
          h3 Signed By
          p
