extends ../layout

block content
  link(rel="stylesheet" href="/stylesheets/general/login.css")

  script(src="/javascripts/general/login.js")
  script(src="https://accounts.google.com/gsi/client" async)

  .content-container
    h1 Sign In
    h3 Topal

    .spacer.v20

    #info-container(style="display: none")
      p#info-text
      .spacer.v20

    #g_id_onload(data-client_id="234912320633-vfi8srp2bhol1lb0a814mn4e4oo7a920.apps.googleusercontent.com" 
      data-context="signin"
      data-ux_mode="popup"
      data-callback="handleLogin"
      data-auto_prompt="false")

    .g_id_signin(data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left")

    .spacer.v20
    
    p You must use a Treverton email!
    p.faint e.g. 4surfir@treverton.co.za
